<div id="weather-wrapper">
  <div class="weather-row">
    <div class="weather-label">Temp</div>
    <div class="weather-value">{{temp}}</div> 
  </div>
  <div class="weather-row">
    <div class="weather-label">Pressure</div>
    <div class="weather-value">{{pressure}}</div> 
  </div>
  <div class="weather-row">
    <div class="weather-label">Humidity</div>
    <div class="weather-value">{{humidity}}</div> 
  </div>
  <div class="weather-row">
    <div class="weather-label">Min</div>
    <div class="weather-value">{{temp_min}}</div> 
  </div>
  <div class="weather-row">
    <div class="weather-label">Max</div>
    <div class="weather-value">{{temp_max}}</div> 
  </div>
<div>
