<div class = "weather-data-wrapper">
  <div class='weather-metrics'><span class= 'label temp'>temp</span>&nbsp;&nbsp;<span class = 'value temp'> {{ temp }} </span></div>
  <div class='weather-metrics'><span class= 'label pressure'>pressure</span>&nbsp;&nbsp;<span class = 'value pressure'> {{ pressure }} </span></div>
  <div class='weather-metrics'><span class= 'label humidity'>humidity</span>&nbsp;&nbsp;<span class = 'value humidity'> {{ humidity }} </span></div>
  <div class='weather-metrics'><span class= 'label temp_min'>temp_min</span>&nbsp;&nbsp;<span class = 'value temp_min'> {{ temp_min }} </span></div>
  <div class='weather-metrics'><span class= 'label temp_max'> temp_max </span>&nbsp;&nbsp;<span class = 'value temp_max'> {{ temp_max }} </span></div>
</div>